<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Login</title>
</head>
<body >

<form name ="login" action="login" style="width: 846; height : 620px;" >
<div class="container" style="width: 100%; height: 100%;">
	<table style="width: 100%; height: 100%;" >
		<tr>
			<td align="right">
 				 <img src="/img/CommunityMaster.png"  width="304" height="236">
			</td>
			<td width="50%">
				 <button type="button" class="btn btn-primary">Publisher</button>
				  <button type="button" class="btn btn-primary">Advertiser</button>
				  <br/>
				  <label for="inputdefault" style="margin-top: 15px;">사용자</label>
				  <input class="form-control" id="inputdefault" type="text" style="width: 93%" value="admin@miracom.com">
				  <label for="inputdefault" style="margin-top: 5px;">패스워드</label>
				  <input class="form-control" id="inputdefault" type="password" style="width: 93%" value="*********">
				  <div class="checkbox">
				    <label><input type="checkbox"> Remember me</label>
				  </div>
				  <button type="submit" class="btn btn-success" style="margin-top: 10px; width: 93%;" >접속</button>
			</td>
		</tr>
	</table>
</div>
 
</form>
</body>
</html>