<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--Script Reference[1]-->
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script src="https://cdn.zingchart.com/zingchart.jquery.min.js"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/setAdver.css">
  
  <style type="text/css">
  	.c {text-align:center}
	  .bT {background:#F7C8BD; text-align:center; font-weight:bolder; padding:3 0 0 0px}
	  .bB {background:#FFFFFF; padding:3 0 0 0px}
  </style>
  
</head>
<body style="margin-left: 10%; margin-right: 10%;">
	<h1><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;&nbsp;오프라인 업체</h1>
	<hr>
	<div class="chartCategoryDiv">
		<h3><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;카테고리</h3>
		<div class="well center-block">
			<label class="chartCategorylabel" for="radioA1"><input type="radio" name="hospitals" checked="checked" id="hospitals" value="1"/>병원</label>
			<label class="chartCategorylabel" for="radioA2"><input type="radio" name="coffee" id="coffee" value="2"/>카페</label>
			<label class="chartCategorylabel" for="radioA3"><input type="radio" name="shops" id="shops" value="3"/>잡화</label>
			<label class="chartCategorylabel" for="radioA4"><input type="radio" name="elec" id="elec" value="4"/>전자제품</label>
		</div>
	</div>
	
	<!--Chart Placement[2]-->
	<div class="chartDiv">
		<table>
		<tr>
			<td>
				<div id="viewCntChart"></div>
				<div id="viewCntChart2" style="display:none"></div>
				<font style="font-size:10pt">※각 노드를 클릭하면 App별 Chart를 볼 수 있습니다.</font>
			</td>
			<td>
				<div id="clickCntChart"></div>
				<div id="clickCntChart2" style="display:none"></div>
				<font style="font-size:10pt">　</font>
			</td>
			<td>
				<div id="appCategory">
				<font style="color:blue">●</font> 건강관리<br/>
				<font style="color:red">●</font> 미용<br/>
				<font style="color:green">●</font> SNS
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="detailChart" style="visibility:hidden"></div>
			</td>
			<td>
				<div id="ratePieChart" style="visibility:hidden"></div>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td colspan="3">
			
				<table id="detailTable" border="1px" style="visibility:hidden">
				<tr>
					<td colspan="7">
						상세 광고 실적 Data
					</td>
				</tr>
				<tr>
					<td>App명</td>
					<td>업체명</td>
					<td>광고 Title</td>
					<td>광고 Contents</td>
					<td>노출</td>
					<td>클릭</td>
					<td>수익</td>
				</tr>
				<tr>
					<td>헬스플러스톡</td>
					<td>강북삼성병원</td>
					<td>건강검짐</td>
					<td>11월 건강검진 특가...</td>
					<td>201</td>
					<td>120</td>
					<td>43,800원</td>
				</tr>
				<tr>
					<td>헬스플러스톡</td>
					<td>강북삼성병원</td>
					<td>치과치료</td>
					<td>지금 강북삼성병원 치과...</td>
					<td>100</td>
					<td>84</td>
					<td>21,400원</td>
				</tr>
				<tr>
					<td>헬스플러스톡</td>
					<td>강북삼성병원</td>
					<td>재방문특가</td>
					<td>다시 한번 방문해주신...</td>
					<td>100</td>
					<td>33</td>
					<td>5,600원</td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
	</div>
	
	<h1><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;&nbsp;어플리케이션 업체</h1>
	<hr>
	<!--Chart Placement[2]-->
	<div class="chartDiv">
		<table><tr><td><div id="chartDiv1"></div></td>
		<td valign=top>
			<br><br><br>
			<table border="1" borderColor="#FF0000" style="border-collapse:collapse;">
				<col width="40">
				<tr><td class="bB c"><a href=javascript:seoul()>서울</a></td></tr>
				<tr><td class="bB c"><a href=javascript:pusan()>부산</a></td></tr>
				<tr><td class="bB c"><a href=javascript:suwon()>수원</a></td></tr>
				<tr><td class="bB c"><a href=javascript:incheon()>인천</a></td></tr>
			</table>
		</td>
		<td><div id="chartDiv2"></div></td></tr></table>
		
		<div id="detailList1">
			<table border="1" borderColor="#FF0000" style="border-collapse:collapse;">
				<col width="200">
				<tr><td align=center>헬스케어 상세내역</td></tr>
			</table>
			
			<table border="1" borderColor="#FF0000" style="border-collapse:collapse;">
			<col width="120"><col width="120"><col width="120"><col width="500"><col width="60"><col width="60">
			<tr>
				<td class="bT">매장</td>
				<td class="bT">APP</td>
				<td class="bT">계약명</td>
				<td class="bT">내용</td>
				<td class="bT">노출</td>
				<td class="bT">클릭</td>
			</tr>
			<tr>
				<td class="bB">삼성서울병원</td>
				<td class="bB">헬스플러스톡</td>
				<td class="bB">평생건강검진</td>
				<td class="bB">정기건강검진의 2회 연속시 1희망 진료과목 年 3回 무료 진료</td>
				<td class="bB" align=right>3,000</td>
				<td class="bB" align=right>2,530</td>
			</tr>
			<tr>
				<td class="bB">서울대학병원</td>
				<td class="bB">당뇨관리</td>
				<td class="bB">국민당뇨해방</td>
				<td class="bB">동일 지역환자와 같이 진료시 50% 진료비 할인 </td>
				<td class="bB" align=right>3,200</td>
				<td class="bB" align=right>2,900</td>
			</tr>
			<tr>
				<td class="bB">대한원자력병원</td>
				<td class="bB">365일건강</td>
				<td class="bB">암걱정해방</td>
				<td class="bB">동일 부위 암의 격회 무료 진료</td>
				<td class="bB" align=right>1,500</td>
				<td class="bB" align=right>1,200</td>
			</tr>
			</table>
		</div>
		
		<div id="detailList2" style="display:none">
			<table border="1" borderColor="#FF0000" style="border-collapse:collapse;">
			<col width="200">
			<tr><td align=center>모바일 상세내역</td></tr>
			</table>
			
			<table border="1" borderColor="#FF0000" style="border-collapse:collapse;">
			<col width="120"><col width="120"><col width="120"><col width="500"><col width="60"><col width="60">
			<tr>
				<td class="bT">매장</td>
				<td class="bT">APP</td>
				<td class="bT">계약명</td>
				<td class="bT">내용</td>
				<td class="bT">노출</td>
				<td class="bT">클릭</td>
			</tr>
			<tr>
				<td class="bB">SK강남센터</td>
				<td class="bB">SK탑탑</td>
				<td class="bB">카드납부행사</td>
				<td class="bB">삼성카드 납부 전환 고객 1개월 통신료 무료</td>
				<td class="bB" align=right>10,000</td>
				<td class="bB" align=right>7,310</td>
			</tr>
			<tr>
				<td class="bB">KT수원센터</td>
				<td class="bB">갤럭시S6로</td>
				<td class="bB">폰전환행사</td>
				<td class="bB">스마트폰 신규/변경 고객의 데이타 요금 50% 할인 행사</td>
				<td class="bB" align=right>9,000</td>
				<td class="bB" align=right>8,530</td>
			</tr>
			<tr>
				<td class="bB">LG U+</td>
				<td class="bB">U PLUS</td>
				<td class="bB">쓸수록절감</td>
				<td class="bB">3만원이상 통신 요금의 구간별 누적 할인 행사 </td>
				<td class="bB" align=right>9,000</td>
				<td class="bB" align=right>7,200</td>
			</tr>
			</table>
		</div>
	</div>
	
<script>
	/*******************
	   오프라인 업체 부분 스크립트
	 *******************/
  $("input[name=hospitals]").change(function() {
		document.getElementById("coffee").checked=false;
		document.getElementById("shops").checked=false;
		document.getElementById("elec").checked=false;
		
		document.getElementById("detailChart").style.visibility = "hidden";	
		document.getElementById("ratePieChart").style.visibility = "hidden";	
		document.getElementById("detailTable").style.visibility = "hidden";
		
		document.getElementById("viewCntChart").style.display = "block";	
		document.getElementById("clickCntChart").style.display = "block";	
		document.getElementById("viewCntChart2").style.display = "none";	
		document.getElementById("clickCntChart2").style.display = "none";	
		document.getElementById("appCategory").style.visibility = "visible";
  });
  
  $("input[name=coffee]").change(function() {
		document.getElementById("hospitals").checked=false;
		document.getElementById("shops").checked=false;
		document.getElementById("elec").checked=false;
		
		document.getElementById("detailChart").style.visibility = "hidden";	
		document.getElementById("ratePieChart").style.visibility = "hidden";	
		document.getElementById("detailTable").style.visibility = "hidden";
		
		document.getElementById("viewCntChart").style.display = "none";	
		document.getElementById("clickCntChart").style.display = "none";	
		document.getElementById("viewCntChart2").style.display = "block";	
		document.getElementById("clickCntChart2").style.display = "block";	
		document.getElementById("appCategory").style.visibility = "hidden";
  });
  
  $("input[name=shops]").change(function() {
		document.getElementById("hospitals").checked=false;
		document.getElementById("coffee").checked=false;
		document.getElementById("elec").checked=false;
		
		document.getElementById("detailChart").style.visibility = "hidden";	
		document.getElementById("ratePieChart").style.visibility = "hidden";	
		document.getElementById("detailTable").style.visibility = "hidden";

		document.getElementById("viewCntChart").style.display = "none";	
		document.getElementById("clickCntChart").style.display = "none";	
		document.getElementById("viewCntChart2").style.display = "block";	
		document.getElementById("clickCntChart2").style.display = "block";
		document.getElementById("appCategory").style.visibility = "hidden";
  });
  
  $("input[name=elec]").change(function() {
		document.getElementById("hospitals").checked=false;
		document.getElementById("shops").checked=false;
		document.getElementById("coffee").checked=false;
		
		document.getElementById("detailChart").style.visibility = "hidden";	
		document.getElementById("ratePieChart").style.visibility = "hidden";	
		document.getElementById("detailTable").style.visibility = "hidden";
		
		document.getElementById("viewCntChart").style.display = "none";	
		document.getElementById("clickCntChart").style.display = "none";	
		document.getElementById("viewCntChart2").style.display = "block";	
		document.getElementById("clickCntChart2").style.display = "block";
		document.getElementById("appCategory").style.visibility = "hidden";
  });
  
  $(document).ready(function() {
  $("#viewCntChart").zingchart({
    "data":{
      "type": "line",
	  "scale-x":{
      "values":"7:11:1",
      "format":"2016년 %v월"
      },
	  "scale-y":{
      "values":"0:700:100",
      "format":"%v건"
      },
	  "title": {
        "text": "광고 노출 건 수" // Adds a title to your chart
      },
      "series": [
        { "values": [300,340,391,602,651],
		  "line-color": "blue",
		  "marker": {
			"background-color": "blue"
		  }
		},
		{ "values": [121,213,172,202,254],
          "line-color": "red",
		  "marker": {
			"background-color": "red"
		  }		
		},
		{ "values": [91,118,102,154,141], 
		  "line-color": "green",
		  "marker": {
			"background-color": "green"
		  }	
		}
      ]
    },
	"height": 250,
    "width": 400
  });
  })
  
  $(document).ready(function() {
  $("#viewCntChart2").zingchart({
    "data":{
      "type": "line",
	  "scale-x":{
      "values":"7:11:1",
      "format":"2016년 %v월"
      },
	  "scale-y":{
      "values":"0:700:100",
      "format":"%v건"
      },
	  "title": {
        "text": "광고 노출 건 수" // Adds a title to your chart
      },
      "series": [
      ]
    },
	"height": 250,
    "width": 400
  });
  })
  
  $(document).ready(function() {
  $("#clickCntChart").zingchart({
    "data":{
      "type": "line",
	  "scale-x":{
      "values":"7:11:1",
      "format":"2016년 %v월"
      },
	  "scale-y":{
      "values":"0:700:100",
      "format":"%v건"
      },
	  "title": {
        "text": "광고 클릭 건 수" // Adds a title to your chart
      },
      "series": [
        { "values": [159,278,324,402,581],
		  "line-color": "blue",
		  "marker": {
			"background-color": "blue"
		  }
		},
		{ "values": [90,163,162,182,194],
          "line-color": "red",
		  "marker": {
			"background-color": "red"
		  }		
		},
		{ "values": [50,68,69,72,52], 
		  "line-color": "green",
		  "marker": {
			"background-color": "green"
		  }	
		}
      ]
    },
	"height": 250,
    "width": 400
  });
  })
  
  $(document).ready(function() {
  $("#clickCntChart2").zingchart({
    "data":{
      "type": "line",
	  "scale-x":{
      "values":"7:11:1",
      "format":"2016년 %v월"
      },
	  "scale-y":{
      "values":"0:700:100",
      "format":"%v건"
      },
	  "title": {
        "text": "광고 클릭 건 수" // Adds a title to your chart
      },
      "series": [
      ]
    },
	"height": 250,
    "width": 400
  });
  })
  $(document).ready(function() {
  $("#detailChart").zingchart({
    "data":{
      "type": "bar",
	  "legend":{
    
	  },
	  "scale-x":{
        "values":"0:1:1",
        "labels":["노출", "클릭"]
      },
	  "scale-y":{
        "format":"%v건"
      },
	  "plot": {
        "value-box": {
        "text": "%node-value"
        }
      },
      "series": [
        { "values": [401, 102],
		  "text": "헬스플러스톡" },
		{ "values": [150, 40],
		  "text": "S헬스" },
		{ "values": [101, 12],
		  "text": "서울삼성병원APP" }
      ]
    },
	"height": 250,
    "width": 400
  });
  })
  $(document).ready(function() {
  $("#ratePieChart").zingchart({
    "data":{
      "type": "pie3d",
	  "title": {
        "text": "광고 클릭 비율" // Adds a title to your chart
      },
	  "scale-r":{
        "ref-angle":270 //relative to the starting 90 degree position.
      },
	  "plot":{
        "value-box":{
          "text": "%node-value%"
        }
      },
      "series": [
        { "values":[89.25],
		  "background-color": "purple",
		  "detached":true
		},
		{ "values":[10.75],
		  "background-color": "gray"
		}
      ]
    },
	"height": 250,
    "width": 400
  });
  })
  zingchart.bind('viewCntChart','node_click', function(e) {	
	document.getElementById("detailChart").style.visibility = "visible";	
	document.getElementById("ratePieChart").style.visibility = "visible";	
	//document.getElementById("detailTable").style.visibility = "visible";
	var plotIndex = e.plotindex;
	var nodeIndex = e.nodeindex;
	var rate1 = [100];
	var rate2 = [0];
	
	var detail1 = [0,0];
	var detail2 = [0,0];
	var detail3 = [0,0];
	
	var text1 = "";
	var title = "";
	var subtitle = "2016년 " + (7+nodeIndex) + "월";
	if(plotIndex == 0) {
		title = "병원 / 건강관리";
		if(nodeIndex == 0) {
			rate1 = [53];
			rate2 = [47];
			detail1=[150, 77];
			detail2=[100, 45];
			detail3=[50, 37];
		} else if(nodeIndex == 1) {
			rate1 = [82];
			rate2 = [18];
			detail1=[169, 115];
			detail2=[100, 95];
			detail3=[71, 68];
		} else if(nodeIndex == 2) {
			rate1 = [83];
			rate2 = [17];
			detail1=[191, 145];
			detail2=[115, 95];
			detail3=[85, 74];
		} else if(nodeIndex == 3) {
			rate1 = [67];
			rate2 = [33];
			detail1=[341, 215];
			detail2=[155, 99];
			detail3=[105, 78];
		} else if(nodeIndex == 4) {
			rate1 = [89];
			rate2 = [11];
			detail1=[390, 365];
			detail2=[155, 119];
			detail3=[105, 87];
		}
		zingchart.exec('detailChart', 'setseriesdata', {
			graphid : 0,
			data : [
				{
					values : detail1,
					text : "헬스플러스톡"
				},
				{
					values : detail2,
					text : "S헬스"
				},
				{
					values : detail3,
					text : "서울삼성병원APP"
				}
			]
		});
	} else if(plotIndex == 1) {
		title = "병원 / 미용";
		text1="미미샵";
		if(nodeIndex == 0) {
			rate1 = [75];
			rate2 = [25];
			detail1=[121, 90];
		} else if(nodeIndex == 1) {
			rate1 = [77];
			rate2 = [23];
			detail1=[213, 163];
		} else if(nodeIndex == 2) {
			rate1 = [94];
			rate2 = [6];
			detail1=[172, 162];
		} else if(nodeIndex == 3) {
			rate1 = [90];
			rate2 = [10];
			detail1=[202, 182];
		} else if(nodeIndex == 4) {
			rate1 = [76];
			rate2 = [24];
			detail1=[254, 194];
		}
		zingchart.exec('detailChart', 'setseriesdata', {
			graphid : 0,
			data : [
				{
					values : detail1,
					text : text1
				}
			]
		});
	} else if(plotIndex == 2) {
		text1="카카오톡";
		title = "병원 / SNS";
		if(nodeIndex == 0) {
			rate1 = [56];
			rate2 = [44];
			detail1 = [91, 50];
		} else if(nodeIndex == 1) {
			rate1 = [58];
			rate2 = [42];
			detail1 = [118, 68];
		} else if(nodeIndex == 2) {
			rate1 = [68];
			rate2 = [32];
			detail1 = [102, 69];
		} else if(nodeIndex == 3) {
			rate1 = [47];
			rate2 = [53];
			detail1 = [154, 72];
		} else if(nodeIndex == 4) {
			rate1 = [37];
			rate2 = [63];
			detail1 = [141, 52];
		}
		zingchart.exec('detailChart', 'setseriesdata', {
			graphid : 0,
			data : [
				{
					values : detail1,
					text : text1
				}
			]
		});
		/*
			detail1=[120, 90];
		
		{ "values": [300,340,391,602,651],
		{ "values": [120,213,172,202,254],
		{ "values": [90,118,102,154,141], 
		
		{ "values": [159,278,324,402,581],
		{ "values": [90,163,162,182,194],
		{ "values": [50,68,69,72,52], 
		 */
	}
	zingchart.exec('ratePieChart', 'setseriesvalues', {
		values : [
			rate1,
			rate2
		]
	});
	zingchart.exec('detailChart', 'modify', {
		graphid : 0,
		data : {
			title : {
				text : title,
				width : 200,
                height : 30
			},
			subtitle : {
				text : subtitle
			}
		}
    });
  });
  
  zingchart.bind('clickCntChart','node_click', function(e) {	
	document.getElementById("detailChart").style.visibility = "visible";	
	document.getElementById("ratePieChart").style.visibility = "visible";	
	//document.getElementById("detailTable").style.visibility = "visible";
	var plotIndex = e.plotindex;
	var nodeIndex = e.nodeindex;
	var rate1 = [100];
	var rate2 = [0];
	
	var detail1 = [0,0];
	var detail2 = [0,0];
	var detail3 = [0,0];
	
	var text1 = "";
	var title = "";
	var subtitle = "2016년 " + (7+nodeIndex) + "월";
	if(plotIndex == 0) {
		title = "병원 / 건강관리";
		if(nodeIndex == 0) {
			rate1 = [53];
			rate2 = [47];
			detail1=[150, 77];
			detail2=[100, 45];
			detail3=[50, 37];
		} else if(nodeIndex == 1) {
			rate1 = [82];
			rate2 = [18];
			detail1=[169, 115];
			detail2=[100, 95];
			detail3=[71, 68];
		} else if(nodeIndex == 2) {
			rate1 = [83];
			rate2 = [17];
			detail1=[191, 145];
			detail2=[115, 95];
			detail3=[85, 74];
		} else if(nodeIndex == 3) {
			rate1 = [67];
			rate2 = [33];
			detail1=[341, 215];
			detail2=[155, 99];
			detail3=[105, 78];
		} else if(nodeIndex == 4) {
			rate1 = [89];
			rate2 = [11];
			detail1=[390, 365];
			detail2=[155, 119];
			detail3=[105, 87];
		}
		zingchart.exec('detailChart', 'setseriesdata', {
			graphid : 0,
			data : [
				{
					values : detail1,
					text : "헬스플러스톡"
				},
				{
					values : detail2,
					text : "S헬스"
				},
				{
					values : detail3,
					text : "서울삼성병원APP"
				}
			]
		});
	} else if(plotIndex == 1) {
		title = "병원 / 미용";
		text1="미미샵";
		if(nodeIndex == 0) {
			rate1 = [75];
			rate2 = [25];
			detail1=[121, 90];
		} else if(nodeIndex == 1) {
			rate1 = [77];
			rate2 = [23];
			detail1=[213, 163];
		} else if(nodeIndex == 2) {
			rate1 = [94];
			rate2 = [6];
			detail1=[172, 162];
		} else if(nodeIndex == 3) {
			rate1 = [90];
			rate2 = [10];
			detail1=[202, 182];
		} else if(nodeIndex == 4) {
			rate1 = [76];
			rate2 = [24];
			detail1=[254, 194];
		}
		zingchart.exec('detailChart', 'setseriesdata', {
			graphid : 0,
			data : [
				{
					values : detail1,
					text : text1
				}
			]
		});
	} else if(plotIndex == 2) {
		text1="카카오톡";
		title = "병원 / SNS";
		if(nodeIndex == 0) {
			rate1 = [56];
			rate2 = [44];
			detail1 = [91, 50];
		} else if(nodeIndex == 1) {
			rate1 = [58];
			rate2 = [42];
			detail1 = [118, 68];
		} else if(nodeIndex == 2) {
			rate1 = [68];
			rate2 = [32];
			detail1 = [102, 69];
		} else if(nodeIndex == 3) {
			rate1 = [47];
			rate2 = [53];
			detail1 = [154, 72];
		} else if(nodeIndex == 4) {
			rate1 = [37];
			rate2 = [63];
			detail1 = [141, 52];
		}
		zingchart.exec('detailChart', 'setseriesdata', {
			graphid : 0,
			data : [
				{
					values : detail1,
					text : text1
				}
			]
		});
		/*
			detail1=[120, 90];
		
		{ "values": [300,340,391,602,651],
		{ "values": [120,213,172,202,254],
		{ "values": [90,118,102,154,141], 
		
		{ "values": [159,278,324,402,581],
		{ "values": [90,163,162,182,194],
		{ "values": [50,68,69,72,52], 
		 */
	}
	zingchart.exec('ratePieChart', 'setseriesvalues', {
		values : [
			rate1,
			rate2
		]
	});
	zingchart.exec('detailChart', 'modify', {
		graphid : 0,
		data : {
			title : {
				text : title,
				width : 200,
                height : 30
			},
			subtitle : {
				text : subtitle
			}
		}
    });
  });
/**********************
    오프라인 업체 부분 스크립트 끝
 **********************/
	 
/*************************
    어플리케이션 업체 부분 스크립트
 *************************/
  var chartData1 = {
	      type: "hbar",
	      title: {
	        text: "비즈니스 영역"
	      },
	      "scale-x": {"labels": ["부동산","미용","펫","여행","금융","가전","모바일","헬스케어"]},
	      "scale-y": {"values": "-5:40:10"},
	      series: [{ values: [-2,7,9,10,17,18,22,30]}]
	    };
	    zingchart.render({ // Render Method[3]
	      id: "chartDiv1",
	      data: chartData1,
	      height: 400,
	      width: 500
	    });
	    
	    seoul();
	    
	    
	    
	    zingchart.click=function(p){
	        //alert(p.targetid);
	        
	        document.getElementById('detailList1').style.display = 'none';
	        document.getElementById('detailList2').style.display = 'none';
	       
	        //charDiv1-graph-id0-plotset-plot-0-node-6
	        
	        if(p.targetid=="chartDiv1-graph-id0-plotset-plot-0-node-7") {
	        	document.getElementById('detailList1').style.display = 'block';
	        }
	        else if (p.targetid =="chartDiv1-graph-id0-plotset-plot-0-node-6"){
	          document.getElementById('detailList2').style.display = 'block';
	        }
	        
	    }

	    
	    
	    

	  function seoul() {
	    var chartData2 = {
	      type: "hbar",
	      title: {
	        text: "지역별(서울)"
	      },
	      "plot": {"background-color": "pink" },


	      "scale-x": {"labels": [null,null,null,null,null,null,null,null]},
	      "scale-y": {"values": "-5:40:10"},
	      series: [{ values: [-1,12,13,10,22,13,17,31]}]
	    };
	    zingchart.render({ // Render Method[3]
	      id: "chartDiv2",
	      data: chartData2,
	      height: 400,
	      width: 400
	    });   

	  }
	  
	  function pusan() {
	    var chartData2 = {
	      type: "hbar",
	      title: {
	        text: "지역별(부산)"
	      },
	      "plot": {"background-color": "pink" },


	      "scale-x": {"labels": [null,null,null,null,null,null,null,null]},
	      "scale-y": {"values": "-5:40:10"},
	      series: [{ values: [5,17,11,9,22,13,30,25]}]
	    };
	    zingchart.render({ // Render Method[3]
	      id: "chartDiv2",
	      data: chartData2,
	      height: 400,
	      width: 400
	    });   

	  }

	  function suwon() {
	    var chartData2 = {
	      type: "hbar",
	      title: {
	        text: "지역별(수원)"
	      },
	      "plot": {"background-color": "pink" },


	      "scale-x": {"labels": [null,null,null,null,null,null,null,null]},
	      "scale-y": {"values": "-5:40:10"},
	      series: [{ values: [5,17,20,9,22,13,27,22]}]
	    };
	    zingchart.render({ // Render Method[3]
	      id: "chartDiv2",
	      data: chartData2,
	      height: 400,
	      width: 400
	    });   

	  }

	  function incheon() {
	    var chartData2 = {
	      type: "hbar",
	      title: {
	        text: "지역별(인천)"
	      },
	      "plot": {"background-color": "pink" },


	      "scale-x": {"labels": [null,null,null,null,null,null,null,null]},
	      "scale-y": {"values": "-5:40:10"},
	      series: [{ values: [2,17,15,13,22,9,22,25]}]
	    };
	    zingchart.render({ // Render Method[3]
	      id: "chartDiv2",
	      data: chartData2,
	      height: 400,
	      width: 400
	    });   

	  }
/*************************
    어플리케이션 업체 부분 스크립트 끝
 *************************/
  </script>
</body>
</html>