<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>광고하기</title>
</head>
<body>
	<br>
	<img src="../img/samsunghospital.JPG" width="50px" height="50px"> 삼성서울병원 담당자 정진욱님
	<br>
	<h1>광고 내용 입력</h1>
	<table border="1" width="100%" style="border-collapse: collapse;">
	<colgroup>
		<col width="5%">
		<col width="15%">
		<col width="10%">
		<col width="10%">
		<col width="10%">
		<col width="10%">
		<col width="16%">
		<col width="7%">
		<col width="7%">
	</colgroup>
	<tr>
		<td rowspan="2"></td>
		<td rowspan="2">광고업체</td>
		<td colspan="2">광고내용</td>
		<td colspan="2">광고단가</td>
		<td rowspan="2">광고기간</td>
		<td rowspan="2">제휴기간</td>
		<td rowspan="2">선택</td>
	</tr>
	<tr>
		<td>Title</td>
		<td>내용</td>
		<td>노출형</td>
		<td>클릭형</td>
	</tr>
	<tr>
		<td align="center"><img src="../img/samsunghospital.JPG" width="30px" height="30px"></td>
		<td>
			강북삼성병원
		</td>
		<td>
			<input type="text"/>
		</td>
		<td>
			<input type="text">
		</td>
		<td>
			<select name="exposure">
				<option value="">금액 선택</option>
				<option value="3">건당 3원</option>
				<option value="5">건당 5원</option>
				<option value="7">건당 7원</option>
				<option value="10">건당 10원</option>
			</select>
		</td>
		<td>
			<select name="execute">
				<option value="">금액 선택</option>
				<option value="5">건당 5원</option>
				<option value="7">건당 7원</option>
				<option value="10">건당 10원</option>
			</select>
		</td>
		<td><input type="text"/>~<input type="text"/></td>
		<td><input type="text"/></td>
		<td><input type="button" value="저장"></td>
	</tr>
	</table>
	<br>
	<h1>제휴 앱 선택</h1>
	<table border="1">
        <tr>
        	<td width="150px"><img src="../img/healthplustalk.JPG" width="80px" height="80px" align="middle"></td>
        	<td width="150px"><img src="../img/cacao.PNG" width="80px" height="80px" align="middle"></td>
        	<td width="150px"><img src="../img/gmarket.PNG" width="80px" height="80px" align="middle"></td>
        </tr>
        <tr>
            <td width="150px"><h5>헬스플러스톡</h5></td>
            <td width="150px"><h5>카카오톡</h5></td>
            <td width="150px"><h5>G마켓</h5></td>
        </tr>
        <tr>
            <td width="150px"><input type="checkbox"/></td>
            <td width="150px"><input type="checkbox"/></td>
            <td width="150px"><input type="checkbox"/></td>
        </tr>
    </table>
<table border="1" width="100%">
	<tr><td align="right"><button>조회</button></td></tr>
</table>
<table border="1" width="100%">
	<colgroup>
		<col width="20%">
		<col width="20%">
		<col width="60%">
	</colgroup>
	<tr>
		<td>제휴 APP</td>
		<td>제휴 매장</td>
		<td>기타 정보</td>
		<td>기타 정보</td>
	</tr>
	
<%
     for(var i=0; i<rows.length; i++)
     {
        var adver = rows[i];
%>
 <tr>
        <td name="a"><%=adver.AD_CODE%></td>
        <td name="b"><%=adver.AD_MANAGE%></td>
        <td name="c"><%=adver.AD_NAME%></td>
        <td name="d"><%=adver.AD_TYPE1%></td>
    </tr>
<%
     }
%>
</table>

<form action="/write" method="post" >
    <table border="1">
    <button type="submit">저장하기</button>
        <tr>
            <td>코드</td>
            <td><input type="text" name="code" id="code" required/></td>
        </tr>
        <tr>
            <td>광고명</td>
            <td><input type="text" name="title" id="title" required/></td>
        </tr>
        <tr>
            <td>작성자</td>
            <td><input type="text" name="creator_id" id="creator_id" required/></td>
        </tr>
    </table>
</form>



<form action="/update" method="post" >
    <table border="1">
    <button type="submit">업데이트</button>
        <tr>
            <td>코드</td>
            <td><input type="text" name="code" id="code" value="111"/></td>
        </tr>
        <tr>
            <td>광고명</td>
            <td><input type="text" name="title" id="title" required/></td>
        </tr>
        <tr>
            <td>작성자</td>
            <td><input type="text" name="creator_id" id="creator_id" required/></td>
        </tr>
    </table>
    
</form>

</body>
</html>