<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>광고승인</title>
</head>
<body>
	<img src="../img/healthplustalk.JPG" width="50px" height="50px"> 헬스플러스톡 담당자 김준홍님
	<br>
	<h1>제안 받은 광고 리스트</h1>
	<table border="1" width="100%" style="border-collapse: collapse;">
	<colgroup>
		<col width="5%">
		<col width="15%">
		<col width="10%">
		<col width="10%">
		<col width="10%">
		<col width="10%">
		<col width="16%">
		<col width="7%">
		<col width="7%">
	</colgroup>
	<tr>
		<td rowspan="2"></td>
		<td rowspan="2">광고업체</td>
		<td colspan="2">광고내용</td>
		<td colspan="2">광고단가</td>
		<td rowspan="2">광고기간</td>
		<td rowspan="2">제휴기간</td>
		<td rowspan="2">선택</td>
	</tr>
	<tr>
		<td>Title</td>
		<td>내용</td>
		<td>노출형</td>
		<td>클릭형</td>
	</tr>
	<tr>
		<td align="center"><img src="../img/samsunghospital.JPG" width="30px" height="30px"></td>
		<td>
			강북삼성병원
		</td>
		<td>
			<h3>건강검진 할인 이벤트</h3>
		</td>
		<td>
			부부함께 등록 시 20%할인
		</td>
		<td>
			건당 5원
		</td>
		<td>
			건당 10원
		</td>
		<td><input type="text"/>~<input type="text"/></td>
		<td>1년</td>
		<td><input type="button" value="승인">  <input type="button" value="거부"></td>
	</tr>
	<tr>
		<td align="center"><img src="../img/greencross.JPG" width="30px" height="30px"></td>
		<td>
			무궁화 요양원
		</td>
		<td>
			<h3>장기요양 할인 이벤트</h3>
		</td>
		<td>
			장기요양 입원 시 30%할인
		</td>
		<td>
			건당 5원
		</td>
		<td>
			건당 7원
		</td>
		<td><input type="text"/>~<input type="text"/></td>
		<td>6개월</td>
		<td><input type="button" value="승인">  <input type="button" value="거부"></td>
	</tr>
	<tr>
		<td align="center"><img src="../img/fitness.JPG" width="30px" height="30px"></td>
		<td>
			다뺀다 휘트니스
		</td>
		<td>
			<h3>무료PT 행사</h3>
		</td>
		<td>
			1회 무료체험 진행(6개월 등록 시 2회 추가)
		</td>
		<td>
			건당 4원
		</td>
		<td>
			건당 8원
		</td>
		<td><input type="text"/>~<input type="text"/></td>
		<td>3개월</td>
		<td><input type="button" value="승인">  <input type="button" value="거부"></td>
	</tr>
</table>

<table><tr height="10"></tr></table>

<table width="80%">
	<tr>
		<td width="35%">
			<table><tr><td>광고리스트</td></tr></table>
			<table border="1">
				<colgroup>
					<col width="100px">
					<col width="200px">
				</colgroup>
				<tr>
					<td>광고코드</td>
					<td>광고명</td>
				</tr>
				<tr>
					<td>A_code1</td>
					<td>A_Name1</td>
				</tr>
				<tr>
					<td>A_code2</td>
					<td>A_Name2</td>
				</tr>
				<tr>
					<td>A_code3</td>
					<td>A_Name3</td>
				</tr>
			</table>
		</td>
		<td>&nbsp;</td>
		<td width="35%">
			<table><tr><td>APP리스트</td></tr></table>
			<table border="1">
				<colgroup>
					<col width="100px">
					<col width="200px">
				</colgroup>
				<tr>
					<td>광고코드</td>
					<td>광고명</td>
				</tr>
				<tr>
					<td>App_code1</td>
					<td>App_Name1</td>
				</tr>
				<tr>
					<td>App_code2</td>
					<td>App_Name2</td>
				</tr>
				<tr>
					<td>App_code3</td>
					<td>App_Name3</td>
				</tr>
			</table>
		</td>
		<td>&nbsp;</td>
		<td width="40%">
			<table><tr><td>매장리스트</td></tr></table>
			<table border="1">
				<colgroup>
					<col width="100px">
					<col width="200px">
				</colgroup>
				<tr>
					<td>광고코드</td>
					<td>광고명</td>
				</tr>
				<tr>
					<td>Off_code1</td>
					<td>Off_Name1</td>
				</tr>
				<tr>
					<td>Off_code2</td>
					<td>Off_Name2</td>
				</tr>
				<tr>
					<td>Off_code3</td>
					<td>Off_Name3</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


</body>
</html>