<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>광고승인</title>


<script lang="javascript">
function approval(flag, rcode){
	
	document.appForm.flag.value = flag;
	document.appForm.rcode.value = rcode;
	document.appForm.submit();
	
}

</script>
</head>
<body>
	<form name="appForm" method="post" action="/adver_app">
	<input type="hidden" name="flag"/>
	<input type="hidden" name="rcode"/>
	<br>
	<img src="../img/healthplustalk.JPG" width="50px" height="50px"> 헬스플러스톡 담당자 김준홍님
	<br>
	<h1>제안 받은 광고 리스트</h1>
	<table border="1" width="100%" style="border-collapse: collapse;">
	<colgroup>
		<col width="5%">
		<col width="10%">
		<col width="15%">
		<col width="16%">
		<col width="7%">
		<col width="7%">
		<col width="16%">
		<col width="7%">
		<col width="7%">
	</colgroup>
	<tr>
		<td rowspan="2"></td>
		<td rowspan="2">광고업체</td>
		<td colspan="2">광고내용</td>
		<td colspan="2">광고단가</td>
		<td rowspan="2">광고기간</td>
		<td rowspan="2">제휴기간</td>
		<td rowspan="2">선택</td>
	</tr>
	<tr>
		<td>Title</td>
		<td>내용</td>
		<td>노출형</td>
		<td>클릭형</td>
	</tr>
	
	<%
     for(var i=0; i<rows.length; i++)
     {
        var adver = rows[i];
        var diffmonth = adver.DIFFMONTH;
        if(diffmonth.length!="") diffmonth += " 개월"; 
	%>
	<tr>
		<td align="center"><img src="../img/<%=adver.AD_URL%>" width="30px" height="30px"></td>
		<td>	<%=adver.COMNAME%></td>
		<td><b><%=adver.AD_NAME%></b></td>
		<td><%=adver.AD_CONTENT%></td>
		<td><%=adver.TYPENAME%></td>
		<td><%=adver.TYPENAME%></td>
		<td><%=adver.AD_START_DATE%> ~ <%=adver.AD_END_DATE%></td>
		<td><%=diffmonth%></td>
		<td><% if(adver.APPROVAL_YN=="" || adver.APPROVAL_YN==null) { %><input type="button" value="승인" onclick="approval('Y', '<%=adver.RCODE%>')">  <input type="button" value="거부" onclick="approval('N','<%=adver.RCODE%>')">
				<% } else if(adver.APPROVAL_YN=="N") { %> <span style="color: red">취소</span> <% } else if(adver.APPROVAL_YN=="Y") { %><span style="color: blue">제휴중</span> <%}%></td>
	</tr>
	<%
	     }
	%>
	
</table>
</form>
</body>
</html>