<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>

<table>
	<colgroup>
		<col width="100px;">
		<col width="100px;">
		<col width="*">
	</colgroup>
	<tr>
		<td>제휴 APP</td>
		<td>제휴 매장</td>
		<td>기타 정보</td>
	</tr>
	<tr>
		<td>APP1</td>
		<td>Store1</td>
		<td>Store1 Desc</td>
	</tr>
	<tr>
		<td>APP2</td>
		<td>Store2</td>
		<td>Store2 Desc</td>
	</tr>
	<tr>
		<td>APP3</td>
		<td>Store3</td>
		<td>Store3 Desc</td>
	</tr>
	<tr>
		<td>APP4</td>
		<td>Store4</td>
		<td>Store4 Desc</td>
	</tr>
</table>

</body>
</html>