<!DOCTYPE html >
<html lang="ko-KR">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/ex3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<title>MMAP</title>
         
<script type="text/javascript">

function logoff(){
	self.parent.location.href = "home";
}
</script>        
        
</head>
<body>
	<table style="width: 100%; height: 130px;">
		<tr align="top;">
			<td width="100%;" style="padding-left: 45%;" >
				<ul class="nav navbar-nav">
                       <li><a href="intro" target="mainFrame"><span style="color: white; font-size: 15px;">소개하기</span></a></li>
                       <li><a href="setAdver" target="mainFrame"><span style="color: white; font-size: 15px;">광고하기</span></a></li>
                       <li><a href="setCore" target="mainFrame"><span style="color: white; font-size: 15px;">제휴하기</span></a></li>
                       <li><a href="setBeacon" target="mainFrame"><span style="color: white; font-size: 15px;">비콘관리</span></a></li>
                       <li><a href="offlineUserChart" target="mainFrame"><span style="color: white; font-size: 15px;">대시보드</span></a></li>
                       <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                       <li><a onclick="logoff();"><span style="color: white; font-size: 15px; cursor: pointer;">Logout</span></a></li>
                   </ul>
			</td>
		</tr>
	</table>
	<!-- 
<div class="navbar-wrapper" >
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container" style="padding-left: 0px">
               
                <div id="navbar" class="navbar-collapse collapse" >
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="intro" target="mainFrame">소개하기</a></li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " role="button" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">광고관리 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class=" dropdown">
                                    <a href="setAdver" target="mainFrame" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" >광고하기</a>
                                </li>
                                <li><a href="#">광고상세</a></li>
                            </ul>
                        </li>
                        <li><a href="setCore" target="mainFrame">제휴하기</a></li>
                        <li class=" dropdown"><a href="#" class="dropdown-toggle " role="button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">비콘관리 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">비콘관리</a></li>
                                <li><a href="#">비콘승인</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="#">API관리</a>
                        </li>
                        <li>
                        	<a href="#">대시보드</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as  <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Change Password</a></li>
                                <li><a href="#">My Profile</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
 -->

</body>
</html>